<p><%= current_customer.name %>さんの注文履歴</p>
<% @yet = 0 %>
<% @comp = 0 %>
<% @histories.each do |history| %> 
  <% if history.status == true %>
    <% @comp = @comp + 1 %>
  <% else %>
    <% @yet = @yet + 1 %>
  <% end %>
<% end %>

<p>準備中の注文：<%= @yet %></p>
<p>完了した注文：<%= @comp %></p>

