<h1>現在の注文</h1>
<% if @orders.present? %>
<table align="center">
<% @orders.each do |order| %>
<% @dcount = [] %>
<tr>
  <% @boxes = Box.where(order_id:order.id) %>
  <% @boxes.each do |box| %> 
    <% @boxdishes = BoxDish.where(box_id:box.id) %>
    <% @dishes = box.dishes %>
    <% @dishes.each do |dish| %>
      <% if @dcount[dish.id] == nil %>
        <% @dcount[dish.id] = 1 %>
      <% else %>
        <% @dcount[dish.id] = @dcount[dish.id] + 1 %>
      <% end %>
    <% end %>
  <% end %>
  <% @len = @dcount.size %>
  <td>
  <% 1.upto(@len-1) do |i| %>
    <% if @dcount[i] != nil %>
      <% @dish = Dish.find(i) %>
      <%= @dish.name %>
      ｜注文数：<%= @dcount[i] %>
      <% @sale = SaleManagement.where(dish_id:@dish.id).last %>
      ｜在庫<%= @sale.made_number - @sale.sold_number %>｜
    <br>
    <% end %>
  <% end %>
  </td>
  <td> <%= link_to "完了",[:finish,order],method: :patch, class: "orderfinish" %></td>
</tr> 
<% end %>
<% else %>
<p>注文はありません</p>
<% end %> 
